<div class="container">
    <div class="row">
        <div class="col">
            <h2>AWH Clockwork Project @ViewData["Version"] on @ViewData["Runtime"]!</h2>
            <button type="submit" onclick="UserAction()">Get the time</button>
        </div>
        <div class="col">
            <p id="output"></p>
        </div>
    </div>
</div>

    

    
